@layer base, shared;

@font-face {
  font-family: "HYWH";
  src: url("/assets/font/HYWH.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MSYH";
  src: url("/assets/font/msyh.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html,
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
  }

  * {
    min-width: 0;
  }

  img {
    object-fit: cover;
    -webkit-user-drag: none;
  }

  div {
    display: block;
  }
}

#root {
  min-height: 100vh;
  min-width: 100vw;

  --inner-width: 1712px;
}

[data-dev] {
  overflow: auto;
}

.preview-container {
  display: none;
  position: relative;
  height: 0;
  width: 0;
  overflow: visible;
  container: layout-renderer / size;
  background: #333333a0;
}

input:checked ~ .preview-container {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  inset: 0;
  overflow-x: clip;
  overflow-y: auto;
}

@media (width >= 48rem) {

  input:not(#fkCss) ~ .preview-container {
    position: relative;
    display: block;
    height: 100vh;
    width: 50%;
    flex-shrink: 0;
    margin: 0;

    overflow-x: clip;
    overflow-y: scroll;
    background-color: unset;
  }

}

.capture-container {
  position: absolute;
  width: var(--inner-width);
  height: min-content;
  top: 0;
  left: 0;
  container: layout-renderer / size;
}

:is(.preview-container, .capture-container) > div:has(.layout) {
  height: 100%;
  width: 100%;
  transform-origin: left top;
  transform: scale(calc(100cqw / var(--inner-width)));
}

.capturing-hint {
  display: none;
}

.capture-container:has(.layout) ~ .capturing-hint {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 10;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  opacity: 90%;
}
